.clearfix {
    content: "";
    clear: both;
    display: table;
}

.container {
    margin: 0 auto;
    /* max-width: 1170px; */
    max-width: 95%;
}

.logo {
    float: left;
}

.navigation {
    float: right;
    display: none;
}

nav {
    width: 100%;
    padding-top: 40px;
}

#ring-copy {
    position: relative;
    left: 7%;
    top: -293px;
    z-index: 1;
    /* width: 50%; */
}

#main-texts {
    padding-top: 90px;
    /* padding-right: 214px; */
}

.link {
    margin-top: 35px;
}

.vcenter {
    margin-top: 70px;
}

.description1-wrapper {
    width: 100%;
}

.yellow-rectangle {
    position: relative;
    left: 49%;
    top: -43px;
    z-index: -1;
    width: 50%;
}

.description-image {
    /* height: 325px; */
    height: 225px;
    /* width: 500px; */
    min-width: 300px;
    background-color: #a1a1a1;
    float: right;
    margin-top: 30px;
}

.description-wrapper {
    float: left;
    /* width: 536px; */
    width: 80%;
    /* margin-right: 134px; */
}

#description1 {
    /* height: 653px; */
    height: 90vh;
}

#contact-now-text {
    float: left;
    height: 55px;
    position: relative;
    width: 50%;
}

#contact-now-button {
    float: right;
    height: 44px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


/* popular-service */

#popular-service-wrapper {
    position: relative;
}

#popular-service-header {
    margin-top: 98px;
}

.sub-heading {
    margin-top: 25px;
    width: 48%;
    margin: 0 auto;
}

.card-wrapper {
    margin: 0px auto;
}

.card {
    height: 100%;
    /* width: 370px; */
    width: 100%;
    /* float: left; */
    margin-top: 40px;
    /* margin-right: 30px; */
    display: inline-block;
}

.card:last-child {
    margin-right: 0px;
}

.card-image {
    width: 100%;
    height: 190.03px;
    position: relative;
}


/* stat */

#stat-wrapper {
    /* height: 360px; */
    position: relative;
}

.stats {
    /* float: left; */
    /* width: 20%; */
    width: 100%;
    color: white;
    /* margin-top: 140px; */
    margin: 0 auto;
    padding-top: 30px;
}

#stat {
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;
}


/* video-description */

#video-frame {
    height: 225px;
    width: 100%;
    float: left;
}

#video-yellow-frame {
    display: none;
}

#video-description-text {
    float: left;
    width: 100%;
    padding-top: 20px;
}

.map-image {
    height: 190.37px;
    width: 100%
}

footer {
    height: 60px;
}

.social-media-icon {
    float: left;
    display: block;
    padding-left: 20px;
}

.social-media-icon:last-child {
    padding-right: 0px;
}

#copyright-text {
    float: left;
}

@media only screen and (min-width: 576px) {
    .container {
        margin: 0 auto;
        max-width: 95%;
    }
    .main-heading-wrapper {
        margin-top: 110px;
    }
    .description-wrapper {
        float: left;
        width: 45%;
    }
    #description1 {
        height: 414px;
    }
    .card {
        height: 100%;
        /* width: 370px; */
        width: 40%;
        float: left;
        margin-top: 40px;
        margin-right: 30px;
    }
    .stats {
        float: left;
        width: 50%;
        /* margin-top: 140px; */
        margin: 0 auto;
        padding: 30px;
    }
    #video-frame {
        height: 325px;
        width: 45%;
        float: left;
        /* margin-right: 134px; */
    }
    #video-description-text {
        float: right;
        width: 45%;
    }
    .quote-wrapper {
        /* height: 400px; */
    }
    .map-image {
        height: 190.37px;
        width: 100%
    }
}

@media only screen and (min-width: 768px) {
    .description-image {
        max-width: 500px;
        height: 220px;
        width: 45%;
        float: right;
    }
    .main-heading-wrapper {
        margin-top: 210px;
    }
    .yellow-rectangle {
        position: relative;
        left: 27%;
        top: -100px;
        z-index: -1;
        /* width: 80%; */
    }
    .card {
        height: 100%;
        /* width: 370px; */
        width: 30%;
        float: left;
        margin-top: 40px;
        margin-right: 30px;
    }
    #video-frame {
        height: 325px;
        width: 45%;
        background-color: #002e5b;
        float: left;
        /* margin-right: 134px; */
    }
    .quote-wrapper {
        /* height: 300px; */
    }
    .navigation {
        display: inline;
    }
    .nav-item {
        padding-left: 15px;
    }
    .hamburger-menu {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        margin: 0 auto;
        max-width: 1170px;
    }
    .description-wrapper {
        float: left;
        width: 536px;
        margin-right: 134px;
    }
    .description-image {
        height: 325px;
        width: 500px;
        background-color: #a1a1a1;
        float: right;
        margin-top: 30px;
    }
    .description {
        font-family: 'Segoe UI Emoji', sans-serif;
        margin-top: 24px;
        font-size: 16px;
        color: #333333;
        display: inline-block;
    }
    .yellow-rectangle {
        position: relative;
        left: 27%;
        top: -100px;
        z-index: -1;
        /* width: 50%; */
    }
    #graph {
        height: 325px;
        width: 530px;
        background-color: #a1a1a1;
        float: left;
    }
    .card {
        /* height: 200px; */
        width: 370px;
        float: left;
        margin-top: 40px;
        margin-right: 28px;
    }
    #popular-service-wrapper {
        position: relative;
        height: 670px;
        background-color: white;
    }
    .stats {
        float: left;
        width: 20%;
        /* width: 100%; */
        color: white;
        margin-top: 140px;
        margin: 0 auto;
        padding: 30px;
    }
    #stat-wrapper {
        height: 360px;
        background-color: #011c37;
        position: relative;
    }
    #video-frame {
        height: 325px;
        width: 500px;
        background-color: #002e5b;
        float: left;
        margin-right: 134px;
    }
    #video-yellow-frame {
        display: inline;
        height: 539px;
    }
    .quote-wrapper {
        /* height: 540px; */
    }
    .nav-item {
        padding-left: 15px;
    }
}

.center-align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}